<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="ru.animatika.simplestqr" version="0.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>SimplestQR</name>
  <description>
        Just to read URL from QR-code and open system browser with this link. Nothing more!
  </description>
  <author email="info@animatika.ru" href="http://animatika.ru/">
      Animatika
  </author>
  <content src="index.html"/>
	<plugin name="phonegap-plugin-barcodescanner" source="npm" />
	<!--<plugin name="cordova-plugin-cszbar" source="npm" />-->
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
	<preference name="android-build-tool" value="gradle" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">

  </platform>
  <access origin="*"/>
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
</widget>